{% extends "index.html"%}
{% block title %} trabajador {% endblock%}
{% block content %}
<center><h1>trabajador</h1></center>

<ul>
    <li>
        <div class="card">
            <h5 class="card-header">trabajador 1</h5>
            <table>
                <tr>
                    <td><img src="https://pluspng.com/img-png/png-user-icon-icons-logos-emojis-users-2400.png" width="200px"></td>
                    <td>datos del empleado</td>
                </tr>
            </table>
        </div>
    </li>
    <li>
        <div class="card">
            <h5 class="card-header">trabajador 2</h5>
            <table>
                <tr>
                    <td><img src="https://pluspng.com/img-png/png-user-icon-icons-logos-emojis-users-2400.png" width="200px"></td>
                    <td>datos del empleado</td>
                </tr>
            </table>
        </div>
    </li>
    <li>
        <div class="card">
        <h5 class="card-header">trabajador 3</h5>
        <table>
            <tr>
                <td><img src="https://pluspng.com/img-png/png-user-icon-icons-logos-emojis-users-2400.png" width="200px"></td>
                <td>datos del empleado</td>
            </tr>
        </table>
        </div>
    </li>
    <li>
        <div class="card">
            <h5 class="card-header">trabajador 4</h5>
            <table>
                <tr>
                    <td><img src="https://pluspng.com/img-png/png-user-icon-icons-logos-emojis-users-2400.png" width="200px"></td>
                    <td>datos del empleado</td>
                </tr>
            </table>
        </div>
    </li>
    <li>
        <div class="card">
            <h5 class="card-header">trabajador 5</h5>
            <table>
                <tr>
                    <td><img src="https://pluspng.com/img-png/png-user-icon-icons-logos-emojis-users-2400.png" width="200px"></td>
                    <td>datos del empleado</td>
                </tr>
            </table>
        </div>
    </li>
    <li>
        <div class="card">
            <h5 class="card-header">trabajador 6</h5>
            <table>
                <tr>
                    <td><img src="https://pluspng.com/img-png/png-user-icon-icons-logos-emojis-users-2400.png" width="200px"></td>
                    <td>datos del empleado</td>
                </tr>
            </table>
        </div>
    </li>
    <li>
        <div class="card">
            <h5 class="card-header">trabajador 7</h5>
            <table>
                <tr>
                    <td><img src="https://pluspng.com/img-png/png-user-icon-icons-logos-emojis-users-2400.png" width="200px"></td>
                    <td>datos del empleado</td>
                </tr>
            </table>
        </div>
    </li>
    <li>
        <div class="card">
            <h5 class="card-header">trabajador 8</h5>
            <table>
                <tr>
                    <td><img src="https://pluspng.com/img-png/png-user-icon-icons-logos-emojis-users-2400.png" width="200px"></td>
                    <td>datos del empleado</td>
                </tr>
            </table>
        </div>
    </li>
</ul>
<!--<button href="{% url 'login'%}">ingresar</button>-->
<center>
<a href="{% url 'login'%}">ingresar</a>
<a href="{% url 'comedor'%}">regresar</a>
</center>

    
{% endblock %}